## Игнорировать файлы сборки и бинарные файлы ##
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.nupkg
*.msi
*.msm
*.msp

## Игнорировать файлы Visual Studio ##
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sln.iml
*.csproj
*.csproj.user
*.csproj.*.user
*.dotCover
*.swp
*.sdf
*.opensdf
*.db
*.log
*.idb
*.pch
*.ipch
*.ilk
*.meta
*.ncb
*.vsp
*.psess
*.TestResult.xml
*.tlog
*.lastbuildstate
*.cachefile
*.docstates
*.manifest
*.spec
*.patch
*.diff
*.orig
*.rej
*.scc
*.vssscc
*.vsscc
*.vspscc
*.vsix
*.vspx
*.vspxproj